body.post .content figure {
  background: #F0F0F0;
  border-top: 1px solid white;
  display: block;
  outline: 1px solid #DDD;
  padding: 10px;
}

body.post .content figure img, #facebox img {
  border: 0;
  outline: 1px solid #DDD;
  padding: 0;
}

body.post .content figure.left {
  margin-left: 252px;
}

body.post .content figure figcaption {
  max-width: 180px;
}

small {
  font-size: 75%;
}

.pagenation li.middle {
  display: inline;
  position: absolute;
  left: 42%;
}

blockquote {
  font-size: 1em;
  font-weight: normal;
}
