<footer id="foot">
<div class="foot_inner">
	<div class="hasGrid">
		<div class="left alpha grid-6">{% include about.html %}</div>
		<div class="right omega grid-6">{% include misc.html %}</div>
	</div>
  <div id="impressum">
    <p>
      <strong>Impressum:</strong> Carlo Zottmann, Zeisigweg 30, 81827 München, Tel 0176 / 9687 5739, carlo@zottmann.org.
      <strong>Inhaltlich Verantwortlicher gemäß §10 Absatz 3 MDStV:</strong> Volker Zottmann, Fischerberg 12, 06493 Harzgerode, Tel 039484 / 975590, vr@zottmann.org.
      <strong>Haftungshinweis:</strong> Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    </p>
  </div>
</div>
</footer><!-- id="foot" -->
