{% if page.layout != "home" %}
  <script type="text/javascript"> var sc_project = 6827255, sc_invisible = 1, sc_security = "b20b141d"; </script>
  <script type="text/javascript" src="http://www.statcounter.com/counter/counter.js"></script>
  <noscript>
    <div class="statcounter">
      <a title="tumblr visitor stats" href="http://statcounter.com/tumblr/" target="_blank">
        <img class="statcounter" src="http://c.statcounter.com/6827255/0/b20b141d/1/" alt="tumblr visitor stats" >
      </a>
    </div>
  </noscript>
{% endif %}

