<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="de" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="de" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="de" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="de" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="{{ site.sitemap }}">
	<link rel="stylesheet" media="all" href="/css/master.css">
	<link rel="stylesheet" media="all" href="/css/mediaqueries.css">
	<script src="/js/modernizr.js"></script>
	{% case page.layout %}
	{% when 'home' %}
	<title>{{ site.sitename }}</title>
	  <meta http-equiv="refresh" content="0;url=/01.html">
	{% when 'post' %}
		<title>{{ site.sitename }} &rarr; {{ page.title }}</title>
		<meta name="description" content="{{ content | strip_html | truncatewords: 25 }}">
	{% else %}
	  <title>{{ site.sitename }} &rarr; {{ page.title }}</title>
		<meta name="description" content="{{ page.desctiption }}">
	{% endcase %}
</head>
